In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [2]:
states = ['MS','WV','AR','ID','AL','DE','CT','MA','NY','DC']

state = []
year =[]
cost = []

for s in states: 
    #print(c)
#s = 'FL'
    url =  'http://api.eia.gov/series/?api_key=0153adcb87f49b02f773e395a39ca985&series_id=SEDS.MGTXD.'+s+'.A'
#url = 'http://api.eia.gov/series/?api_key=0153adcb87f49b02f773e395a39ca985&series_id=SEDS.MGTXD.FL.A'
    response = requests.get(url)
    response_json_1 = response.json()
    for i in range(5) :
        state.append(s)
        year.append(response_json_1['series'][0]['data'][i][0])
        cost.append(response_json_1['series'][0]['data'][i][1])
        i += 1

In [3]:
print(state)
print(year)
print(cost)

['MS', 'MS', 'MS', 'MS', 'MS', 'WV', 'WV', 'WV', 'WV', 'WV', 'AR', 'AR', 'AR', 'AR', 'AR', 'ID', 'ID', 'ID', 'ID', 'ID', 'AL', 'AL', 'AL', 'AL', 'AL', 'DE', 'DE', 'DE', 'DE', 'DE', 'CT', 'CT', 'CT', 'CT', 'CT', 'MA', 'MA', 'MA', 'MA', 'MA', 'NY', 'NY', 'NY', 'NY', 'NY', 'DC', 'DC', 'DC', 'DC', 'DC']
['2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015']
[19.03, 20.47, 18.56, 16.36, 18.23, 21.26, 22.81, 20.97, 18.84, 20.65, 19.19, 20.64, 18.72, 16.5, 18.38, 23.1, 24.2, 21.09, 18.67, 20.93, 18.97, 20.4, 18.5, 16.31, 18.17, 21.61, 22.91, 20.92, 18.32, 20.27, 21.94, 23.42, 20.99, 18.68, 20.76, 21.78, 23.06, 20.51, 18.14, 20.1, 20.97, 22.23, 20.12, 18.13, 20.47, 22.73, 24.09, 22, 19.27, 21.32]

In [4]:
gas_cost_df = pd.DataFrame({
    'State': state,
    'Year': year,
    'Prices':cost
})

gas_cost_df.head()

  State  Year  Prices
0    MS  2019   19.03
1    MS  2018   20.47
2    MS  2017   18.56
3    MS  2016   16.36
4    MS  2015   18.23

In [5]:
#prices are per million BTU and 1 Gallon has 116,090 BTUs

gas_cost_df['Price per gallon'] =  gas_cost_df['Prices']/1000000*116090

gas_cost_df.head()

  State  Year  Prices  Price per gallon
0    MS  2019   19.03          2.209193
1    MS  2018   20.47          2.376362
2    MS  2017   18.56          2.154630
3    MS  2016   16.36          1.899232
4    MS  2015   18.23          2.116321