In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [6]:
states = ['MS','WV','NM','KY','AL','NJ','CT','MA','NY','DC']

state = []
year =[]
cost = []

for s in states: 
    #print(c)
#s = 'FL'
    url =  'http://api.eia.gov/series/?api_key=0153adcb87f49b02f773e395a39ca985&series_id=SEDS.MGTXD.'+s+'.A'
#url = 'http://api.eia.gov/series/?api_key=0153adcb87f49b02f773e395a39ca985&series_id=SEDS.MGTXD.FL.A'
    response = requests.get(url)
    response_json_1 = response.json()
    for i in range(5) :
        state.append(s)
        year.append(response_json_1['series'][0]['data'][i][0])
        cost.append(response_json_1['series'][0]['data'][i][1])
        i += 1

In [7]:
print(state)
print(year)
print(cost)

['MS', 'MS', 'MS', 'MS', 'MS', 'WV', 'WV', 'WV', 'WV', 'WV', 'NM', 'NM', 'NM', 'NM', 'NM', 'KY', 'KY', 'KY', 'KY', 'KY', 'AL', 'AL', 'AL', 'AL', 'AL', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'CT', 'CT', 'CT', 'CT', 'CT', 'MA', 'MA', 'MA', 'MA', 'MA', 'NY', 'NY', 'NY', 'NY', 'NY', 'DC', 'DC', 'DC', 'DC', 'DC']
['2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015']
[19.03, 20.47, 18.56, 16.36, 18.23, 21.26, 22.81, 20.97, 18.84, 20.65, 19.8, 21.3, 19.31, 17.02, 18.97, 20.68, 21.7, 19.57, 17.43, 19.61, 18.97, 20.4, 18.5, 16.31, 18.17, 20.93, 22.19, 20.26, 17.74, 19.63, 21.94, 23.42, 20.99, 18.68, 20.76, 21.78, 23.06, 20.51, 18.14, 20.1, 20.97, 22.23, 20.12, 18.13, 20.47, 22.73, 24.09, 22, 19.27, 21.32]

In [8]:
gas_cost_df = pd.DataFrame({
    'State': state,
    'Year': year,
    'Prices':cost
})

gas_cost_df

   State  Year  Prices
0     MS  2019   19.03
1     MS  2018   20.47
2     MS  2017   18.56
3     MS  2016   16.36
4     MS  2015   18.23
5     WV  2019   21.26
6     WV  2018   22.81
7     WV  2017   20.97
8     WV  2016   18.84
9     WV  2015   20.65
10    NM  2019   19.80
11    NM  2018   21.30
12    NM  2017   19.31
13    NM  2016   17.02
14    NM  2015   18.97
15    KY  2019   20.68
16    KY  2018   21.70
17    KY  2017   19.57
18    KY  2016   17.43
19    KY  2015   19.61
20    AL  2019   18.97
21    AL  2018   20.40
22    AL  2017   18.50
23    AL  2016   16.31
24    AL  2015   18.17
25    NJ  2019   20.93
26    NJ  2018   22.19
27    NJ  2017   20.26
28    NJ  2016   17.74
29    NJ  2015   19.63
30    CT  2019   21.94
31    CT  2018   23.42
32    CT  2017   20.99
33    CT  2016   18.68
34    CT  2015   20.76
35    MA  2019   21.78
36    MA  2018   23.06
37    MA  2017   20.51
38    MA  2016   18.14
39    MA  2015   20.10
40    NY  2019   20.97
41    NY  2018   22.23
42    NY  2017   20.12
43    NY  2016   18.13
44    NY  2015   20.47
45    DC  2019   22.73
46    DC  2018   24.09
47    DC  2017   22.00
48    DC  2016   19.27
49    DC  2015   21.32

In [9]:
#prices are per million BTU and 1 Gallon has 116,090 BTUs

gas_cost_df['Price per gallon'] =  gas_cost_df['Prices']/1000000*116090

gas_cost_df

   State  Year  Prices  Price per gallon
0     MS  2019   19.03          2.209193
1     MS  2018   20.47          2.376362
2     MS  2017   18.56          2.154630
3     MS  2016   16.36          1.899232
4     MS  2015   18.23          2.116321
5     WV  2019   21.26          2.468073
6     WV  2018   22.81          2.648013
7     WV  2017   20.97          2.434407
8     WV  2016   18.84          2.187136
9     WV  2015   20.65          2.397258
10    NM  2019   19.80          2.298582
11    NM  2018   21.30          2.472717
12    NM  2017   19.31          2.241698
13    NM  2016   17.02          1.975852
14    NM  2015   18.97          2.202227
15    KY  2019   20.68          2.400741
16    KY  2018   21.70          2.519153
17    KY  2017   19.57          2.271881
18    KY  2016   17.43          2.023449
19    KY  2015   19.61          2.276525
20    AL  2019   18.97          2.202227
21    AL  2018   20.40          2.368236
22    AL  2017   18.50          2.147665
23    AL  2016   16.31          1.893428
24    AL  2015   18.17          2.109355
25    NJ  2019   20.93          2.429764
26    NJ  2018   22.19          2.576037
27    NJ  2017   20.26          2.351983
28    NJ  2016   17.74          2.059437
29    NJ  2015   19.63          2.278847
30    CT  2019   21.94          2.547015
31    CT  2018   23.42          2.718828
32    CT  2017   20.99          2.436729
33    CT  2016   18.68          2.168561
34    CT  2015   20.76          2.410028
35    MA  2019   21.78          2.528440
36    MA  2018   23.06          2.677035
37    MA  2017   20.51          2.381006
38    MA  2016   18.14          2.105873
39    MA  2015   20.10          2.333409
40    NY  2019   20.97          2.434407
41    NY  2018   22.23          2.580681
42    NY  2017   20.12          2.335731
43    NY  2016   18.13          2.104712
44    NY  2015   20.47          2.376362
45    DC  2019   22.73          2.638726
46    DC  2018   24.09          2.796608
47    DC  2017   22.00          2.553980
48    DC  2016   19.27          2.237054
49    DC  2015   21.32          2.475039

In [10]:
#Save as csv.file and reimport into our Master notebook
gas_cost_df.to_csv("gas.csv", index=False)