In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [2]:
#Getting States' names

states_filepath = "Resources/states.csv"

states_df = pd.read_csv(states_filepath)

print(states_df['State'].unique())

['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'DC']

In [3]:
states = states_df['State'].unique()


state = []
year =[]
cost = []

for s in states: 
    #print(c)
#s = 'FL'
    url =  'http://api.eia.gov/series/?api_key=0153adcb87f49b02f773e395a39ca985&series_id=SEDS.MGTXD.'+s+'.A'
#url = 'http://api.eia.gov/series/?api_key=0153adcb87f49b02f773e395a39ca985&series_id=SEDS.MGTXD.FL.A'
    
    
    response = requests.get(url)
    response_json_1 = response.json()
   
    for i in range(5) :
        state.append(s)
        year.append(response_json_1['series'][0]['data'][i][0])
        cost.append(response_json_1['series'][0]['data'][i][1])
        i += 1

In [4]:
print(state)
print(year)
print(cost)

['AL', 'AL', 'AL', 'AL', 'AL', 'AK', 'AK', 'AK', 'AK', 'AK', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AR', 'AR', 'AR', 'AR', 'AR', 'CA', 'CA', 'CA', 'CA', 'CA', 'CO', 'CO', 'CO', 'CO', 'CO', 'CT', 'CT', 'CT', 'CT', 'CT', 'DE', 'DE', 'DE', 'DE', 'DE', 'FL', 'FL', 'FL', 'FL', 'FL', 'GA', 'GA', 'GA', 'GA', 'GA', 'HI', 'HI', 'HI', 'HI', 'HI', 'ID', 'ID', 'ID', 'ID', 'ID', 'IL', 'IL', 'IL', 'IL', 'IL', 'IN', 'IN', 'IN', 'IN', 'IN', 'IA', 'IA', 'IA', 'IA', 'IA', 'KS', 'KS', 'KS', 'KS', 'KS', 'KY', 'KY', 'KY', 'KY', 'KY', 'LA', 'LA', 'LA', 'LA', 'LA', 'ME', 'ME', 'ME', 'ME', 'ME', 'MD', 'MD', 'MD', 'MD', 'MD', 'MA', 'MA', 'MA', 'MA', 'MA', 'MI', 'MI', 'MI', 'MI', 'MI', 'MN', 'MN', 'MN', 'MN', 'MN', 'MS', 'MS', 'MS', 'MS', 'MS', 'MO', 'MO', 'MO', 'MO', 'MO', 'MT', 'MT', 'MT', 'MT', 'MT', 'NE', 'NE', 'NE', 'NE', 'NE', 'NV', 'NV', 'NV', 'NV', 'NV', 'NH', 'NH', 'NH', 'NH', 'NH', 'NJ', 'NJ', 'NJ', 'NJ', 'NJ', 'NM', 'NM', 'NM', 'NM', 'NM', 'NY', 'NY', 'NY', 'NY', 'NY', 'NC', 'NC', 'NC', 'NC', 'NC', 'ND', 'ND', 'ND', 'ND', 'ND', 'OH', 'OH', 'OH', 'OH', 'OH', 'OK', 'OK', 'OK', 'OK', 'OK', 'OR', 'OR', 'OR', 'OR', 'OR', 'PA', 'PA', 'PA', 'PA', 'PA', 'RI', 'RI', 'RI', 'RI', 'RI', 'SC', 'SC', 'SC', 'SC', 'SC', 'SD', 'SD', 'SD', 'SD', 'SD', 'TN', 'TN', 'TN', 'TN', 'TN', 'TX', 'TX', 'TX', 'TX', 'TX', 'UT', 'UT', 'UT', 'UT', 'UT', 'VT', 'VT', 'VT', 'VT', 'VT', 'VA', 'VA', 'VA', 'VA', 'VA', 'WA', 'WA', 'WA', 'WA', 'WA', 'WV', 'WV', 'WV', 'WV', 'WV', 'WI', 'WI', 'WI', 'WI', 'WI', 'WY', 'WY', 'WY', 'WY', 'WY', 'DC', 'DC', 'DC', 'DC', 'DC']
['2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015', '2019', '2018', '2017', '2016', '2015']
[18.97, 20.4, 18.5, 16.31, 18.17, 31.19, 30.73, 26.82, 24.07, 27.66, 25.09, 24.72, 21.58, 19.36, 22.25, 19.19, 20.64, 18.72, 16.5, 18.38, 29.1, 28.09, 24.37, 22.01, 25.47, 21.62, 22.33, 19.74, 17.39, 19.57, 21.94, 23.42, 20.99, 18.68, 20.76, 21.61, 22.91, 20.92, 18.32, 20.27, 19.45, 20.92, 19.23, 17.14, 18.85, 18.82, 20.2, 18.57, 16.68, 18.29, 31.2, 30.74, 26.83, 24.07, 27.67, 23.1, 24.2, 21.09, 18.67, 20.93, 20.7, 21.72, 19.59, 17.45, 19.62, 20, 20.98, 18.93, 16.86, 18.96, 20.34, 21.34, 19.25, 17.15, 19.28, 20.2, 21.2, 19.12, 17.03, 19.15, 20.68, 21.7, 19.57, 17.43, 19.61, 19.07, 20.51, 18.6, 16.39, 18.27, 21.81, 23.28, 20.86, 18.57, 20.64, 21.71, 23.02, 21.02, 18.41, 20.37, 21.78, 23.06, 20.51, 18.14, 20.1, 20.21, 21.21, 19.13, 17.04, 19.16, 20.73, 21.92, 19.76, 17.29, 19.83, 19.03, 20.47, 18.56, 16.36, 18.23, 19.74, 20.71, 18.68, 16.64, 18.71, 23, 24.09, 21, 18.58, 20.84, 20.9, 21.93, 19.78, 17.62, 19.81, 26.12, 25.74, 22.46, 20.16, 23.16, 21.18, 22.6, 20.25, 18.03, 20.04, 20.93, 22.19, 20.26, 17.74, 19.63, 19.8, 21.3, 19.31, 17.02, 18.97, 20.97, 22.23, 20.12, 18.13, 20.47, 20.28, 21.76, 20, 17.97, 19.7, 21.6, 22.66, 20.44, 18.2, 20.47, 20.92, 21.5, 19.6, 17.96, 19.78, 19.79, 20.76, 18.72, 16.68, 18.76, 26.79, 26.4, 23.04, 20.67, 23.76, 22.19, 23.52, 21.48, 18.81, 20.81, 21.76, 23.22, 20.81, 18.53, 20.59, 19.08, 20.48, 18.82, 16.91, 18.54, 21.05, 22.08, 19.92, 17.74, 19.95, 20.08, 21.06, 19, 16.92, 19.03, 19.07, 20.44, 18.56, 16.3, 18.27, 22.99, 24.08, 20.98, 18.57, 20.83, 21.92, 23.39, 20.96, 18.66, 20.74, 19.69, 21.13, 19.42, 17.45, 19.13, 25.88, 26.54, 23.64, 20.55, 22.35, 21.26, 22.81, 20.97, 18.84, 20.65, 21.37, 22.42, 20.22, 18.01, 20.25, 21.53, 22.56, 19.66, 17.4, 19.51, 22.73, 24.09, 22, 19.27, 21.32]

In [5]:
gas_cost_df = pd.DataFrame({
    'State': state,
    'Year': year,
    'Prices':cost
})

gas_cost_df.head()

  State  Year  Prices
0    AL  2019   18.97
1    AL  2018   20.40
2    AL  2017   18.50
3    AL  2016   16.31
4    AL  2015   18.17

In [6]:
#prices are per million BTU and 1 Gallon has 116,090 BTUs

gas_cost_df['Price per gallon'] =  gas_cost_df['Prices']/1000000*116090

gas_cost_df.head()

  State  Year  Prices  Price per gallon
0    AL  2019   18.97          2.202227
1    AL  2018   20.40          2.368236
2    AL  2017   18.50          2.147665
3    AL  2016   16.31          1.893428
4    AL  2015   18.17          2.109355

In [7]:
#Adding State's name

gas_cost_st_df = pd.merge(gas_cost_df, states_df, how="left", on= "State")
gas_cost_st_df

    State  Year  Prices  Price per gallon            State Name
0      AL  2019   18.97          2.202227               Alabama
1      AL  2018   20.40          2.368236               Alabama
2      AL  2017   18.50          2.147665               Alabama
3      AL  2016   16.31          1.893428               Alabama
4      AL  2015   18.17          2.109355               Alabama
..    ...   ...     ...               ...                   ...
250    DC  2019   22.73          2.638726  District of Columbia
251    DC  2018   24.09          2.796608  District of Columbia
252    DC  2017   22.00          2.553980  District of Columbia
253    DC  2016   19.27          2.237054  District of Columbia
254    DC  2015   21.32          2.475039  District of Columbia

[255 rows x 5 columns]

In [8]:
#Save to csv file
gas_cost_st_df.to_csv("Resources\gas.csv", index=False)